/* body {
    background-color: black    
}     */

@import url(//db.onlinewebfonts.com/c/961a181da27e7cbc072ec2fb5bbfe2a9?family=Circular+Std+Bold);

@font-face {
    font-family: "Circular Std Bold"; 
    src: url("//db.onlinewebfonts.com/t/961a181da27e7cbc072ec2fb5bbfe2a9.eot"); 
    src: url("//db.onlinewebfonts.com/t/961a181da27e7cbc072ec2fb5bbfe2a9.eot?#iefix") format("embedded-opentype"), 
    url("//db.onlinewebfonts.com/t/961a181da27e7cbc072ec2fb5bbfe2a9.woff2") format("woff2"), 
    url("//db.onlinewebfonts.com/t/961a181da27e7cbc072ec2fb5bbfe2a9.woff") format("woff"), 
    url("//db.onlinewebfonts.com/t/961a181da27e7cbc072ec2fb5bbfe2a9.ttf") format("truetype"), 
    url("//db.onlinewebfonts.com/t/961a181da27e7cbc072ec2fb5bbfe2a9.svg#Circular Std Bold") format("svg"); }

body {
    --nav-width: 241px;
    --nav-z-index-1: 1;
    --nav-z-index-2: 2;
}

nav {
    background-color: black;
    color: white;
    height: 100%;
    width: var(--nav-width);
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--nav-z-index-1);
    padding-top: 21px;
    padding-left: 21px;
    padding-right: 21px;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: -15px;
    margin-top: 32px;
    color: #b3b3b3;
}



nav ul :hover{
    cursor: pointer;
    filter: brightness(1.5);
}

nav ul li {
    margin: 20px;
    font-size: 14px;
    font-weight: bold;
    transition: filter 0.5s;
}

nav ul li .imag {
    filter: invert(70%);
    width: 22px;
    height: 22px;
    margin-right: 13px;
    margin-top:-8px;
}

nav ul li .tumegusta {
    width: 22px;
    height: 22px;
    margin-right: 13px;
    margin-top:-8px;
}

#title {
    display: grid;
    grid-template-columns: 0px auto
}

#title label {
    margin-top: 3px;
    margin-left: -24px;
    text-align: center;
    font-size: 25px;
    font-weight: 600
}

#content {
    width: calc(100% - var(--nav-width));
    height: 100%;
    position: absolute;
    left: var(--nav-width);
    z-index: var(--nav-z-index-2);
    color: white;
    
    background: rgb(81,58,159);
    background: linear-gradient(180deg, rgba(81,58,159,1) 0%, rgba(25,20,40,1) 40%, rgba(46,44,52,1) 100%);
}

img{
    width: 45px;
    height: 45px;
}

audio {
    width: 100%;
    height: 100%;
    position: absolute;
    filter: invert();
    top: 0;
    left: 0;
    z-index: -1;
}

div.nav-top {
    padding-top: 16px;
    padding-left: 32px;
    width: 100%;
    height: 65px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: none;;
}

.dark-circle {
    background-color: black;
    opacity: 0.7;
    border-radius: 100%;
    width: 32px;
    height: 32px;
    margin-right: 16px;
    float: left;
}


.dark-circle img {
    width: 18px;
    height: 18px;
    margin-left: 6px;
    margin-top: 4px;
    filter: invert();
}

section {
    margin-top: 85px;
    margin-left: 32px;
    float: left;
}

section img {
    box-shadow: 0px 0px 30px rgba(0,0,0,0.5);
    height: 230px;
    width: 230px;
}

iframe {
    width: 100%;
    height: 80px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: var(--nav-z-index-2);
}


