/* body {
    background-color: black    
}     */

body {
    --nav-width: 241px;
    --nav-z-index-1: 1;
    --nav-z-index-2: 2;
}

nav {
    background-color: black;
    color: white;
    height: 100%;
    width: var(--nav-width);
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--nav-z-index-1);
    padding-top: 21px;
    padding-left: 21px;
    padding-right: 21px;
}
nav ul{
    list-style-type: none;
    padding: 0;
    margin: -15px;
    margin-top: 32px;
    color: #b3b3b3;
}

nav ul :hover {
    filter: brightness(2);
    cursor: pointer;
}

nav ul li {
    margin: 20px;
    font-size: 14px;
    font-weight: bold;
}
nav ul li img {
    filter: invert(70%);
    width: 22px;
    height: 22px;
    margin-right: 13px;
    margin-top:-8px;
}

nav ul li img :hover {
    filter: invert(100%);
    margin-top:-100px;
}

#title {
    display: grid;
    grid-template-columns: 0px auto
}

#title label {
    margin-top: 3px;
    margin-left: -24px;
    text-align: center;
    font-size: 25px;
    font-weight: 600
}

#content {
    width: calc(100% - var(--nav-width));
    height: 100%;
    position: absolute;
    left: var(--nav-width);
    z-index: var(--nav-z-index-2);
    color: white;
    
    background: rgb(81,58,159);
    background: linear-gradient(180deg, rgba(81,58,159,1) 0%, rgba(25,20,40,1) 50%, rgba(46,44,52,1) 100%);
}

img{
    width: 45px;
    height: 45px;
}

audio {
    width: 100%;
    height: 100%;
    position: absolute;
    filter: invert();
    top: 0;
    left: 0;
    z-index: -1;
}

audio source {

}